{
	"Oracle_user":		"ologin",
	"Oracle_pass":		"opass",
	"Oracle_sid":		"SID",

	"PG_DSN":		"host=xxx user=pguser password=pgpass dbname=asterisk-pbook sslmode=disable",

	"PG_Table_LDAP":	"dump_domino_mail",

	"LDAP_URL":		"URL:389",
	"LDAP_User":		"",
	"LDAP_Pass":		"",
	"LDAP_BASE":		"O=ORG",
	"LDAP_Filter":		"(objectClass=*)",

	"ROOT_OU":		"RootOrg",

	"LOG_File":		"/var/log/ABook/Exporter.log"
}
