html {
  font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: #553333;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:visited {
  color: #773b6a;
}
td.Drive_Buttons {
    white-space: nowrap;
    padding: 5px;
    border: 2;
    background-color: #eeeeee;
}
td.InsteadOfSearch {
    font-size: 14px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: center;
    color: #005500;
    white-space: nowrap;
    padding-left: 15px;
    border: 1;
}
td.List_Orgs {
    font-family: 'times new roman', times, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}
td.UserInfo_Title {
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    padding-left: 15px;
}
td.UserInfo_leftHead {
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
}
td.UserInfo_workplace {
    font-size: 10px;
    font-weight: normal;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: left;
}
td.UserInfo_range {
    font-size: 14px;
    font-weight: normal;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: left;
}
td.UserInfo_mailto {
    font-size: 14px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: left;
}
td.text_comment {
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 12px;
    text-align: left;
    color: #880000;
}
td.text_warning {
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: wrap;
    color: #FF0000;
}
td.Footer_Version {
    font-size: 12px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: left;
    color: #555555;
}
td.Footer_Bugreport {
    font-size: 12px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: right;
    color: #0000FF;
}
td.Text_Info {
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    color: #428bca;
}
td.Auth {
    font-size: 14px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: right;
    color: #FF0000;
}
td.AuthPage {
    font-size: 14px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: right;
    color: #550000;
    white-space: nowrap;
    padding-left: 15px;
    border: 1;
}
td.AuthMess {
    font-size: 14px;
    font-weight: bold;
    font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
    text-align: center;
    color: #550000;
    white-space: nowrap;
    padding-left: 15px;
    border: 1;
}
