{
	"PG_DSN":		"host=xxx user=pguser password=pgpass dbname=asterisk-pbook sslmode=disable",

	"WLB_MailBT":		"admin@example.com",
	"WLB_SQL_PreFetch":	"Yes",

	"LDAP_URL":		[
					["URL1:389", "", "", "O=ORG1", "(objectClass=*)"],
					["URL2:389", "User2", "Pass2", "O=ORG2", "(objectClass=*)"]
				],

	"WLB_Listen_IP":		"127.0.0.1",
	"WLB_Listen_PORT":		3000,

	"WLB_LDAP_ATTR":	[
					["o","ORGName"],
					["cn","USERName"],
					["entryDN","DN"],
					["sn","LastName"],
					["givenName","FirstName"],
					["displayName","FullName"],
					["uid","UID"],
					["mail","Mail"],
					["businessCategory","Position"],
					["telephoneNumber","PhoneInt"],
					["mobile","Mobile"],
					["pager","PhoneExt"]
				],

	"LOG_File":		"/var/log/ABook/WebLDAPBook.log",
	"PID_File":		"/var/run/WebLDAPBook.pid"
}
