{
	"LDAP_URL":		[
					["DC-Server1:389", "Administrator@domain", "password", "DC=DOMAIN,DC=RU", "(objectClass=*)"],
					["DC-Server2:389", "Administrator@domain", "password", "DC=DOMAIN,DC=RU", "(objectClass=*)"]
				],

	"WLB_Listen_IP":		"127.0.0.1",
	"WLB_Listen_PORT":		3000,

	"WLB_LDAP_ATTR":	[
					["o","ORGName"],
					["ou","ORGName"],
					["dc","ORGName"],
					["cn","USERName"],
					["distinguishedName","DN"],
					["sn","LastName"],
					["givenName","FirstName"],
					["name","FullName"],
					["mobile","Mobile"],
					["sAMAccountName","ADLogin"]
				],

	"LOG_File":			"/var/log/ABook/WebLDAPBook.log",
	"PID_File":			"/var/run/WebLDAPBook.pid"
}

