{
	"PG_DSN":		"host=pgsql.host user=asterisk password=paSSw0rD dbname=asterisk-pbook sslmode=disable",

	"WLB_HTML_Title":	"WebPage title \"ABC\"",

	"WLB_MailBT":		"admin@example.com",

	"Sleep_Time":		3600,

	"LDAP_URL":		[
					["URL1:389", "", "", "O=ORG1", "(objectClass=*)"],
					["URL2:389", "User2", "Pass2", "O=ORG2", "(objectClass=*)"]
				],

	"WLB_Listen_IP":		"127.0.0.1",
	"WLB_Listen_PORT":		3000,

	"SABRealm":			"SABookDAV",

	"WLB_SessTimeOut":	30,
	"WLB_DavDNTreeDepLev":	5,

	"WLB_LDAP_ATTR":	[
					["o","ORGName"],
					["cn","USERName"],
					["entryDN","DN"],
					["sn","LastName"],
					["givenName","FirstName"],
					["displayName","FullName"],
					["uid","UID"],
					["mail","Mail"],
					["adLogin","ADLogin"],
					["adDomain","ADDomain"],
					["businessCategory","Position"],
					["telephoneNumber","PhoneInt"],
					["mobile","Mobile"],
					["pager","PhoneExt"]
				],

	"WLB_SQLite_DB":	"./WebLDAPBook.sqlite3",

	"LOG_File":			"/var/log/ABook/WebLDAPBook.log",
	"PID_File":			"/var/run/WebLDAPBook.pid"
}
