{{ define "header" }}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<META http-equiv=Content-Type content="text/html; charset=koi8-r">
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" Content="no-cache">
		<meta http-equiv="Pragma" Content="no-cache">
		<meta http-equiv="Expires" Content="0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .Pagetitle }}</title>
        <link href="/css/first.css" rel="stylesheet">
<!--        <link href="/css/bootstrap.css" rel="stylesheet">   -->
	</head>
	<body>
		<table width=100%>
{{ end }}