{{ define "header" }}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<META http-equiv=Content-Type content="text/html; charset=koi8-r">
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" Content="no-cache">
		<meta http-equiv="Pragma" Content="no-cache">
		<meta http-equiv="Expires" Content="0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .Pagetitle }}</title>
		<link href="/images/phone.png" rel="shortcut icon">
        <link href="/css/first.css" rel="stylesheet">
<!--        <link href="/css/popup.css" rel="stylesheet">-->
	</head>
	<body>
	<div id="body">
	 <table width="900" bgcolor="{{ .FRColor }}">
	 <tr><td>
	 <table width="900" bgcolor="{{ .BGColor }}">
<!--	  <tr><td width=2%>&nbsp;</td><td>&nbsp;</td><td width=2%>&nbsp;</td></tr>
-->	   <tr><td width=5%>&nbsp;</td><td align=left valign=top>
		<table width="100%">
{{ end }}