{{ define "header" }}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<META http-equiv=Content-Type content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" Content="no-cache">
		<meta http-equiv="Pragma" Content="no-cache">
		<meta http-equiv="Expires" Content="0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .Pagetitle }}</title>
		<link href="/images/phone.png" rel="shortcut icon">
		<link href="/css/first.css" rel="stylesheet">
	{{if .TREEOn }}
		<link href="/css/tree.css" rel="stylesheet">
		<script src="/js/jquery.min.js" type="text/javascript"></script>
		<script src="/js/tree.js" type="text/javascript"></script>
	{{ end }}
		<script src="/js/admin.js" type="text/javascript"></script>
	</head>
	<body>
	<div id="body">
	{{if .TREEOn }}
	 <table bgcolor="{{ .FRColor }}">
	 <tr><td>
	 <table bgcolor="{{ .BGColor }}">
	{{ else }}
	 <table width="900" bgcolor="{{ .FRColor }}">
	 <tr><td>
	 <table width="900" bgcolor="{{ .BGColor }}">
	 {{ end }}
	   <tr><td width=5%>&nbsp;</td><td align=left valign=top>
		<table width="100%">
{{ end }}
