{{ define "index" }}
	{{ range $key, $value := . }}
			<tr>
				<td>
					<table width=100%>
				{{if $value.Dn }}
						<tr>
							<td class="List_Orgs">
								<b><li><a href="{{$key}}">{{ $value.Dn }}</a></li></b>
							</td>
						</tr>
				{{ end }}
				{{if $value.Name }}
						<tr>
							<td class="UserInfo_Title">
								<h3><a>{{ $value.Name }}</a></h3>
							</td>
						</tr>
						<tr>
							<td>
								<table>
								{{if $value.BusinessCategory }}
									<tr>
										<td class="UserInfo_leftHead">Должность</td>
										<td class="UserInfo_range"><a>{{ $value.BusinessCategory }}</a></td>
									</tr>
								{{ end }}
								{{if $value.TelephoneNumber }}
									<tr>
										<td class="UserInfo_leftHead">Внутренний номер</td>
										<td class="UserInfo_range"><a>{{ $value.TelephoneNumber }}</a></td>
									</tr>
								{{ end }}
								{{if $value.Mobile }}
									<tr>
										<td class="UserInfo_leftHead">Мобильный номер</td>
										<td class="UserInfo_range"><a>{{ $value.Mobile }}</a></td>
									</tr>
								{{ end }}
								{{if $value.Pager }}
									<tr>
										<td class="UserInfo_leftHead">Городской номер</td>
										<td class="UserInfo_range"><a>{{ $value.Pager }}</a></td>
									</tr>
								{{ end }}
								{{if $value.Mail }}
									<tr>
										<td class="UserInfo_leftHead">E-Mail</td>
										<td class="UserInfo_mailto"><a href="mailto:{{$value.Mail}}">{{ $value.Mail }}</a></td>
									</tr>
								{{ end }}
								{{if $value.URL }}
									<tr>
										<td class="UserInfo_leftHead">Место работы</td>
										<td class="UserInfo_workplace"><b><a href="{{$value.URL}}">{{ $value.URLName }}</a></b></td>
									</tr>
								{{ end }}
								</table>
							</td>
						</tr>
				{{ end }}
					</table>
				</td>
			</tr>
	{{ end }}
{{ end }}