{{ define "index" }}
	{{ range $key, $value := . }}
			<tr>
				<td>
					<table width=100%>
				{{if $value.ORGName }}
						<tr>
							<td class="List_Orgs">
								<b><li><a href="{{$key}}">{{ $value.ORGName }}</a></li></b>
							</td>
						</tr>
				{{ end }}
				{{if $value.USERName }}
					{{if $value.FullName }}
						<tr>
						  <td>
						    <table width="100%"><tr>
								<td class="UserInfo_Title">
									<h3><a>{{ $value.FullName }}</a></h3>
								</td>
							</tr></table>
						  </td>
						</tr>
					{{ end }}
						<tr>
							<td>
								<table width="100%">
<!-- LastName
FirstName
UID -->
								{{if $value.Position }}
									<tr>
										<td class="UserInfo_leftHead" width="30%">Должность</td>
										<td class="UserInfo_range"><a>{{ $value.Position }}</a></td>
									</tr>
								{{ end }}
								{{if $value.PhoneInt }}
									<tr>
										<td class="UserInfo_leftHead">Внутренний номер</td>
										<td class="UserInfo_range"><a>{{ $value.PhoneInt }}</a></td>
									</tr>
								{{ end }}
								{{if $value.Mobile }}
									<tr>
										<td class="UserInfo_leftHead">Мобильный номер</td>
										<td class="UserInfo_range"><a>{{ $value.Mobile }}</a></td>
									</tr>
								{{ end }}
								{{if $value.PhoneExt }}
									<tr>
										<td class="UserInfo_leftHead">Городской номер</td>
										<td class="UserInfo_range"><a>{{ $value.PhoneExt }}</a></td>
									</tr>
								{{ end }}
						{{ if $value.AdminMode }}
									<tr><td><hr noshade size=1 align=left width=100%></td><td><hr noshade size=1 align=left width=50%></td></tr>
								{{if $value.ADLogin }}
									<tr>
										<td class="UserInfo_leftHeadAdm">Active Directory Login</td>
										<td class="UserInfo_rangeAdm"><a>{{$value.ADLogin}}</a></td>
									</tr>
								{{ end }}
								{{if $value.ADDomain }}
									<tr>
										<td class="UserInfo_leftHeadAdm">Active Directory Domain</td>
										<td class="UserInfo_rangeAdm"><a>{{$value.ADDomain}}</a></td>
									</tr>
								{{ end }}
								{{ if $value.UID }}
									<tr>
										<td class="UserInfo_leftHeadAdm">1C UID</td>
										<td class="UserInfo_rangeAdm"><a>{{$value.UID}}</a></td>
									</tr>
								{{ end }}
									<tr><td><hr noshade size=1 align=left width=100%></td><td><hr noshade size=1 align=left width=50%></td></tr>
						{{ if $value.AAALogin }}
									<tr>
										<td class="UserInfo_leftHeadAdm">SAB Login</td>
										<td class="UserInfo_rangeAdm"><a>{{$value.AAALogin}}</a></td>
									</tr>
								{{ if $value.AAAFullName }}
									<tr>
										<td class="UserInfo_leftHeadAdm">SAB FullName</td>
										<td>
											<table width="100%">
												<tr>
													<td class="UserInfo_rangeAdm" width="60%">
														<a>{{$value.AAAFullName}}</a>
													</td>
													<td class="UserMod">

<table width="100%">
	<tr>
		<td>
			<a style="color: #009900" href="javascript:void(0)" onclick = "document.getElementById('envelope_del_login_{{$value.UID}}').style.display='block';document.getElementById('delete_sab_login_{{$value.UID}}').style.display='block';">( удалить )</a>	
			<div id="envelope_del_login_{{$value.UID}}" class="envelope">
			<form method="post" action="/modify" onSubmit="return checkDelete(this);">
				<table width="100%">
					<tr>
						<td>&nbsp;
						</td>
						<td>
							<input name="action" value="delete_sab_login" type=hidden>
							<input name="uid" value="{{$value.UID}}" type=hidden>
						</td>
					</tr>
					<tr>
						<td>&nbsp;
						</td>
						<input type="text" name="check_del" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Введите фразу <<удалить нах>>':this.value;" value="Введите фразу <<удалить нах>>" maxlength="12" size="48"/>
					</tr>
					<tr>
						<td>&nbsp;
						</td>
						<td>
							<table width="100%">
							<tr>
								<td class="PopUpBtn">
									<input type="reset" value="Отмена"  href="javascript:void(0)" onclick="document.getElementById('envelope_del_login_{{$value.UID}}').style.display='none';document.getElementById('delete_sab_login_{{$value.UID}}').style.display='none'">
								</td>
								<td class="PopUpBtn">
									<input type="submit" name="send" value="удалить">
								</td>

							</tr>
							</table>
						</td>
					</tr>
				</table>
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="delete_sab_login_{{$value.UID}}" class="black-overlay"></div>
		</td>
	</tr>
</table>
													</td>
												</tr>
											</table>
										</td>



									</tr>
								{{ end }}
								{{ if $value.AAAPassword }}
									<tr>
										<td class="UserInfo_leftHeadAdm">SAB Password</td>
										<td>
											<table width="100%">
												<tr>
													<td class="UserInfo_rangeAdm" width="60%">
														<a>{{$value.AAAPassword}}</a>
													</td>
													<td class="UserMod">
<table width="100%">
	<tr>
		<td>
			<a style="color: #009900" href="javascript:void(0)" onclick = "document.getElementById('envelope_pass_{{$value.UID}}').style.display='block';document.getElementById('pwd_change_{{$value.UID}}').style.display='block';">( изменить пароль )</a>			
			<div id="envelope_pass_{{$value.UID}}" class="envelope">
			<form method="post" action="/modify" onSubmit="return checkPassword(this);">
				<table width="100%">
					<tr>
						<td>
							<input name="uid" value="{{$value.UID}}" type=hidden>
							<input name="login" value="{{$value.AAALogin}}" type=hidden>
						</td>
						<td>
							<input name="action" value="change_password" type=hidden>
						</td>
					</tr>
					<tr>
						<td class="PopUpBtn">
							<input type="text" name="password_x1" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* введите пароль..':this.value;" value="* введите пароль..." maxlength="16" size="16"/>
						</td>
						<td class="PopUpBtn">
							<input type="text" name="password_x2" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* повторите пароль...':this.value;" value="* повторите пароль..." maxlength="16" size="16"/>
						</td>
					</tr>
					<tr>
						<td class="PopUpBtn">
							<input type="reset" value="Отмена"  href="javascript:void(0)" onclick="document.getElementById('envelope_pass_{{$value.UID}}').style.display='none';document.getElementById('pwd_change_{{$value.UID}}').style.display='none'">
						</td>
						<td class="PopUpBtn">
							<input type="submit" name="send" value="Установить">
						</td>
					</tr>
				</table>
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="pwd_change_{{$value.UID}}" class="black-overlay"></div>
		</td>
	</tr>
</table>
<!--														<a style="color: #009900" href="/modify{{$value.UID}}&ACT=PWD_CH">&nbsp;(change password)</a>
-->


													</td>
												</tr>
											</table>
										</td>
									</tr>
								{{ end }}
								{{ if $value.AAARole }}
									<tr>
										<td class="UserInfo_leftHeadAdm">SAB Role</td>
										<td>
											<table width="100%">
												<tr>
													<td class="UserInfo_rangeAdm" width="60%">
														<a>{{$value.AAARole}}</a>
													</td>
													<td class="UserMod">

<table width="100%">
	<tr>
		<td>
			<a style="color: #009900" href="javascript:void(0)" onclick = "document.getElementById('envelope_role_{{$value.UID}}').style.display='block';document.getElementById('change_role_{{$value.UID}}').style.display='block';">( изменить роль )</a>	
			<div id="envelope_role_{{$value.UID}}" class="envelope">
			<form method="post" action="/modify">
				<table width="100%">
					<tr>
						<td>&nbsp;
						</td>
						<td>
							<input name="action" value="change_role" type=hidden>
							<input name="uid" value="{{$value.UID}}" type=hidden>
						</td>
					</tr>
					<tr>
						<td class="UserInfo_leftHead">Роль</td>
						<td class="PopUpBtnL">
							<select name="role">
							  <option value="admin">администратор</option>
							  <option value="user" selected>пользователь</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>&nbsp;
						</td>
						<td>
							<table width="100%">
							<tr>
								<td class="PopUpBtn">
									<input type="reset" value="Отмена"  href="javascript:void(0)" onclick="document.getElementById('envelope_role_{{$value.UID}}').style.display='none';document.getElementById('change_role_{{$value.UID}}').style.display='none'">
								</td>
								<td class="PopUpBtn">
									<input type="submit" name="send" value="Применить">
								</td>

							</tr>
							</table>
						</td>
					</tr>
				</table>
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="change_role_{{$value.UID}}" class="black-overlay"></div>
		</td>
	</tr>
</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr><td><hr noshade size=1 align=left width=100%></td><td><hr noshade size=1 align=left width=50%></td></tr>
									<tr>
										<td class="UserInfo_leftHeadAdm">CardDAV DN List</td>
										<td class="UserInfo_rangeDNList"><a onClick="window.open('/DavDN?uid={{$value.UID}}','carddavdn_{{$value.UID}}','left=20%, top=20%, width=900, height=600, menubar=no, toolbar=no, location=no, status=no, scrollbars=yes');" style="color: #999900"><pre>{{$value.DavDN}}</pre></a></td>
<!--										<td>
											<table>
												<tr>
													<td class="UserInfo_rangeDNList"><a onclick="document.getElementById('carddavdn_src_{{$value.UID}}').style.display='block';document.getElementById('carddavdn_{{$value.UID}}').style.display='block';">{{$value.DavDN}}</a>
													<div id="carddavdn_src_{{$value.UID}}" class="envelope">
													</div>
													</td>
													<td>
														<div id="carddavdn_{{$value.UID}}" class="black-overlay"></div>
													</td>
												</tr>
											</table>
										</td>-->
									</tr>
								{{ end }}
						{{ else }}
									<tr>
										<td class="UserInfo_leftHeadAdm">SAB System</td>
										<td class="UserMod">

<table width="100%">
	<tr>
		<td>
			<a style="color: #009900" href="javascript:void(0)" onclick = "document.getElementById('envelope_reg_{{$value.UID}}').style.display='block';document.getElementById('create_user_{{$value.UID}}').style.display='block';">( зарегистрировать пользователя в системе )</a>	
			<div id="envelope_reg_{{$value.UID}}" class="envelope">
			<form method="post" action="/modify" onSubmit="return checkPasswordAndLogin(this);">
				<table width="100%">
					<tr>
						<td>&nbsp;
						</td>
						<td>
							<input name="action" value="create_user" type=hidden>
						</td>
					</tr>
					<tr>
						<td class="UserInfo_leftHead">UID</td>
						<td class="PopUpBtnL">
							<input type="text" name="uid" value="{{$value.UID}}" maxlength="63" size="64" readonly>
						</td>
					</tr>
					<tr>
						<td class="UserInfo_leftHead">Ф.И.О.</td>
						<td class="PopUpBtnL">
							<input type="text" name="fullname" value="{{$value.FullName}}" maxlength="63" size="64" readonly>
						</td>
					</tr>
					<tr>
						<td class="UserInfo_leftHead">Login</td>
						<td class="PopUpBtnL">
							<input type="text" name="login" value="{{$value.NewSABLogin}}" maxlength="63" size="64">
						</td>
					</tr>
					<tr>
						<td class="UserInfo_leftHead">Роль</td>
						<td class="PopUpBtnL">
							<select name="role">
							  <option value="admin">администратор</option>
							  <option value="user" selected>пользователь</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="UserInfo_leftHead">Пароль</td>
						<td>
							<table width="100%">
							<tr>
								<td class="PopUpBtnL">
									<input type="text" name="password_x1" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* введите пароль..':this.value;" value="* введите пароль..." maxlength="16" size="16"/>
								</td>
								<td class="PopUpBtnL">
									<input type="text" name="password_x2" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'* повторите пароль...':this.value;" value="* повторите пароль..." maxlength="16" size="16"/>
								</td>
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;
						</td>
						<td>
							<table width="100%">
							<tr>
								<td class="PopUpBtn">
									<input type="reset" value="Отмена"  href="javascript:void(0)" onclick="document.getElementById('envelope_reg_{{$value.UID}}').style.display='none';document.getElementById('create_user_{{$value.UID}}').style.display='none'">
								</td>
								<td class="PopUpBtn">
									<input type="submit" name="send" value="Зарегистрировать">
								</td>

							</tr>
							</table>
						</td>
					</tr>
				</table>
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="create_user_{{$value.UID}}" class="black-overlay"></div>
		</td>
	</tr>
</table>

										</td>
									</tr>
						{{ end }}
									<tr><td><hr noshade size=1 align=left width=100%></td><td><hr noshade size=1 align=left width=50%></td></tr>
						{{ end }}
								{{if $value.Mail }}
									<tr>
										<td class="UserInfo_leftHead">E-Mail</td>
										<td class="UserInfo_mailto"><a href="mailto:{{$value.Mail}}">{{ $value.Mail }}</a></td>
									</tr>
								{{ end }}
								{{if $value.URLName }}
									<tr>
										<td class="UserInfo_leftHead">Место работы</td>
										<td class="UserInfo_workplace"><b><a href="{{$value.URL}}">{{ $value.URLName }}</a></b></td>
									</tr>
								{{ end }}
								</table>
							</td>
						</tr>
				{{ end }}
					</table>
				</td>
			</tr>
	{{ end }}
{{ end }}
