{{ define "search" }}
			<!--<tr><td><hr noshade size=1 align=left width=50%></td></tr>-->
			<tr>
				<td>
					<table bgcolor="{{.LineColor}}" width="100%">
						<tr>
							<form>
								<td width="1%">
									<input Type="button" value="<- назад" onClick="history.go(-1);return true;">
								</td>
							</form>
		{{ if .PrevDN }}
							<form name="GoToBack" action="/GoOrg" method="get">
								<td width="1%">
									<input name="dn" value="{{.PrevDN}}" type=hidden>
									<input name="GoToBack" value="^ вверх ^" type=submit>

								</td>
							</form>
		{{ end }}
		{{ if .GoHome }}
							<form name="GoToStart" action="/GoOrg" method="get">
								<td width="1%">
									<input name="GoToStart" value="на главную" type=submit>
								</td>
							</form>
		{{ end }}
		{{ if .LUserName}}
								<td width="100%" class="Auth"><a href="/login?go=unlogin" style="color: #555555">({{.LUserName}})выйти</a></td>
		{{ else }}
				{{ if .LoginShow }}
								<td width="100%" class="Auth"><a href="/login" style="color: #555555">войти</a></td>
				{{ else }}
								<td>&nbsp;</td>
				{{ end }}
		{{ end }}
						</tr>
					</table>
				</td></tr>
			<!--<tr><td><hr noshade size=1 align=left width=50%></td></tr>-->
				<tr><td>
					<table>
						<tr>
		{{ if .xSearch }}
							<form name="Search" action="/GoOrg" method="get">
								<td class="UserInfo_leftHead">Имя:</td>
								<td><input name="FirstName" maxlength="64" size="48" value="" type="text" /></td>
							</tr><tr>
								<td class="UserInfo_leftHead">Фамилия:</td>
								<td><input name="LastName" maxlength="64" size="48" value="" type="text" /></td>
							</tr><tr>
								<td class="UserInfo_leftHead">Полное имя:</td>
								<td><input name="cn" maxlength="64" size="48" value="" type="text" /></td>
<!--							</tr><tr>
								<td>&nbsp;</td>
								<td class="text_comment"><a>Используйте символ <b><font size=+1>*</font></b> вместо недостающей части имени или фамилии<br>Например <u>Богоявлен<b><font size=+1>*</font></b></u> или <u>Бугров Д<b><font size=+1>*</font></b></u></a>
								</td> -->
							</tr>
		{{ if .GoHome }}
							<tr>
								<td class="UserInfo_leftHead">Искать везде:</td>
								<td>
									<table>
										<tr>
											<td><input type=checkbox name="SearchMode" VALUE="Full"></td>
											<td class="Text_Info">поставьте галку для поиска во всех доступных организациях и подразделениях</td>
										</tr>
									</table>
								</td>
							</tr>
		{{ end }}
							<tr>
								<td>&nbsp;</td>
								<td>
									<input name="dn" value="{{.DN}}" type=hidden>
									<input name="Search" value="искать" type=submit>
								</td>
							</form>
		{{ else }}
							<td class="InsteadOfSearch">&nbsp;
<!--								<b>... для поиска нужно выбрать раздел ...</b> -->

							</td>
		{{ end }}
							
						</tr>
					</table>
		{{ if .xMessage }}
				</td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td class="text_warning">{{.xMessage}}</td>
						</tr>
						<!--<tr><td><hr noshade size=1 align=left width=10%></td></tr>-->
					</table>
		{{ end }}
				</td>
			</tr>
<!--			<tr><td><hr noshade size=1 align=left width=50%></td></tr> -->
{{ end }}