{{ define "search" }}
			<tr><td><hr noshade size=1 align=left width=50%></td></tr>
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<form>
									<input Type="button" value="<- назад" onClick="history.go(-1);return true;">
								</form>
							</td>
		{{ if .PrevDN }}
							<td>
								<form name="GoToBack" action="/GoOrg" method="get">
									<input name="dn" value="{{.PrevDN}}" type=hidden>
									<input name="GoToBack" value="^ вверх ^" type=submit>
								</form>
							</td>
		{{ end }}
		{{ if .GoHome }}
							<td>
								<form name="GoToStart" action="/GoOrg" method="get">
									<input name="GoToStart" value="на главную" type=submit>
								</form>
							</td>
		{{ end }}
		{{ if .PrevDN }}
							<td>
								<form name="Search" action="/GoOrg" method="get">
									<input name="cn" maxlength="64" size="64" value="" type="text" />
									<input name="dn" value="{{.DN}}" type=hidden>
									<input name="Search" value="искать" type=submit>
								</form>
							</td>
		{{ else }}
							<td class="InsteadOfSearch">
								<b>... для поиска нужно выбрать раздел ...</b>
							</td>
		{{ end }}
						</tr>
					</table>
				</td>
			</tr>
			<tr><td><hr noshade size=1 align=left width=50%></td></tr>
{{ end }}